body {
  padding-top: 70px;
}

.fake-upload {
  position: relative;
}

.fake-upload input[type="file"] {
  line-height: 12px;
  background-color: #DDD;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0px;
  top: 0px;
}
