body {
  padding-top: 70px;
  padding-bottom: 20px;
}

table {
  font-size: 19px;
}

table thead {
  text-transform: capitalize;
}

.soft-hidden {
  display: none;
}

.fake-upload {
  position: relative;
}

.fake-upload input[type="file"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0px;
  top: 0px;
}

.expression {
  font-family: Courier;
  color: #428bca;
}

.ignored {
  color: #AAA;
}

.scroll-y {
  overflow-y: auto;
}

span.btn {
  cursor: default;
}

.jumbotron {
  text-align: center;
  margin-bottom: 60px;
}

.jumbotron .lead {
  margin-bottom: 30px;
}

.feature {
  margin-bottom: 20px;
}

.feature .icon {
  font-size: 36px;
  line-height: 36px;
  position: absolute;
}

.feature .text {
  margin-left: 46px;
}

.feature h4 {
  margin: 0px;
  margin-bottom: 4px;
}

@media print {
  body {
    padding: 0;
    margin: 5px;
  }

  table {
    font-size: small;
  }

  .container {
    width: 100%;
  }
}
