body {
  padding-top: 70px;
}

table {
  font-size: 19px;
}

table thead {
  text-transform: capitalize;
}

.fake-upload {
  position: relative;
}

.fake-upload input[type="file"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0px;
  top: 0px;
}

.expression {
  font-family: Courier;
  color: #428bca;
}

.ignored {
  color: #AAA;
}

span.btn {
  cursor: default;
}

@media print {
  body {
    padding: 0;
    margin: 5px;
  }

  table {
    font-size: small;
  }

  .container {
    width: 100%;
  }
}
