<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="jumbotron">
        <h1>Randlist.io</h1>

        <p class="lead">
          Sorteios descomplicados para eventos e conferências
        </p>

        <a ng-href="#/importation"
          class="btn btn-primary btn-lg">
          Assistente para importação de listas
        </a>
      </div>

      <div class="feature">
        <div class="icon">
          <i class="fa fa-file-text-o" aria-hidden="true"></i>
        </div>
        <div class="text">
          <h4>Importe sua lista de registros</h4>
          <p>Utilize nosso assistente para carregar e mapear facilmente arquivos gerados a partir de outras plataformas.</p>
        </div>
      </div>

      <div class="feature">
        <div class="icon">
          <i class="fa fa-sliders" aria-hidden="true"></i>
        </div>
        <div class="text">
          <h4>Gerencie múltiplos sorteios</h4>
          <p>Cadastre vários itens em vários sorteios e visualize facilmente o que ainda falta ser sorteado.</p>
        </div>
      </div>

      <div class="feature">
        <div class="icon">
          <i class="fa fa-repeat" aria-hidden="true"></i>
        </div>
        <div class="text">
          <h4>Blacklist para vencedores repetidos</h4>
          <p>Uma vez que um candidato ganhe, ele não ganhará novamente.</p>
        </div>
      </div>

      <div class="feature">
        <div class="icon">
          <i class="fa fa-filter" aria-hidden="true"></i>
        </div>
        <div class="text">
          <h4>Escreva filtros com JS</h4>
          <p>Utilize os atributos dos registros para excrever expressões JavaScript e tornar seus sorteios mais específicos.</p>
        </div>
      </div>

      <div class="feature">
        <div class="icon">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
        </div>
        <div class="text">
          <h4>Não precisa de cadastro</h4>
          <p>Tudo acontece no Local Storage e não precisa de backend, login nem senha.</p>
        </div>
      </div>

      <div class="feature">
        <div class="icon">
          <i class="fa fa-exchange" aria-hidden="true"></i>
        </div>
        <div class="text">
          <h4>Importe e exporte todos os seus dados</h4>
          <p>Gere um backup.randlist para posteriormente importar e continuar de onde parou em outro dispositivo.</p>
        </div>
      </div>

      <div class="feature">
        <div class="icon">
          <i class="fa fa-github" aria-hidden="true"></i>
        </div>
        <div class="text">
          <h4>Projeto open source</h4>
          <p>Licenciado sob MIT com código aberto e acessível através do <a href="https://github.com/juniorconte/randlist">GitHub</a></p>
        </div>
      </div>

    </div>
  </div>

</div>
