<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Descrição</th>
      <th width="110">Quantidade</th>
      <th width="40"></th>
      <th colspan="2">
        Filtro
        <button type="button"
          class="btn btn-info btn-xs pull-right"
          ng-click="sweepstakes.openHelpFilter()">
          <i class="glyphicon glyphicon-info-sign"></i>
          Veja exemplos de como confgurar os filtros
        </button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="sweepstake in sweepstakes.list"
      ng-init="executed = sweepstakes.executed(sweepstake.uuid)">
      <td>
        <input type="text"
          class="form-control input-sm expression"
          placeholder="O que será sorteado?"
          ng-model="sweepstake.name"
          ng-change="sweepstakes.save(sweepstake)"
          ng-model-options="{
            updateOn: 'default blur',
            debounce: {
              'default': 1000,
              'blur': 0
            }
          }">
      </td>
      <td>
        <input type="number"
          class="form-control input-sm expression"
          placeholder="Quantos?"
          min="1"
          ng-model="sweepstake.quantity"
          ng-change="sweepstakes.save(sweepstake)"
          ng-model-options="{
            updateOn: 'default blur',
            debounce: {
              'default': 1000,
              'blur': 0
            }
          }">
      </td>
      <td>
        <span class="btn btn-success btn-block btn-sm"
          ng-class="{
            'btn-success': (executed < sweepstake.quantity),
            'btn-warning': (executed == sweepstake.quantity),
            'btn-danger': (executed > sweepstake.quantity)
          }">
          {{executed}}
        </span>
      </td>
      <td>
        <div class="input-group input-group-sm"
          uib-popover="{{sweepstakes.validateFilter(sweepstake.filter).error}}"
          popover-is-open="!sweepstakes.validateFilter(sweepstake.filter).valid"
          popover-placement="bottom-left"
          popover-trigger="'none'">
          <input type="text"
            class="form-control expression"
            placeholder="Escreva o filtro utilizando JavaScript"
            ng-model="sweepstake.filter"
            ng-change="sweepstakes.save(sweepstake)"
            ng-model-options="{
              updateOn: 'default blur',
              debounce: {
                'default': 100,
                'blur': 0
              }
            }">
          <span class="badge filter-quantity">
            {{sweepstakes.resultFilter(sweepstake.filter).length}}
          </span>
          <span class="input-group-btn">
            <button type="button"
              class="btn btn-default"
              ng-click="sweepstakes.openFilter(sweepstake.filter)">
              <i class="glyphicon glyphicon-eye-open"></i>
            </button>
          </span>
        </div>
      </td>
      <td width="90">
        <a class="btn btn-primary btn-sm"
          ng-href="#/sweepstakes/{{sweepstake.uuid}}">
          <i class="glyphicon glyphicon-list"></i>
        </a>
        <button type="button"
          class="btn btn-danger btn-sm"
          ng-click="sweepstakes.remove(sweepstake)"
          ng-disabled="executed">
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td>
        <input type="text"
          class="form-control input-sm expression"
          placeholder="O que será sorteado?"
          ng-model="name">
      </td>
      <td>
        <input type="number"
          class="form-control input-sm expression"
          placeholder="Quantos?"
          ng-model="quantity"
          min="1">
      </td>
      <td>
        <span class="btn btn-default btn-block btn-sm">0</span>
      </td>
      <td>
        <div class="input-group input-group-sm"
          uib-popover="{{sweepstakes.validateFilter(filter).error}}"
          popover-is-open="!sweepstakes.validateFilter(filter).valid"
          popover-placement="bottom-left"
          popover-trigger="'none'">
          <input type="text"
            class="form-control input-sm expression"
            placeholder="Escreva o filtro utilizando JavaScript"
            ng-model="filter">
          <span class="badge filter-quantity">
            {{sweepstakes.resultFilter(filter).length}}
          </span>
          <span class="input-group-btn">
            <button type="button"
              class="btn btn-default"
              ng-click="sweepstakes.openFilter(filter)">
              <i class="glyphicon glyphicon-eye-open"></i>
            </button>
          </span>
        </div>
      </td>
      <td width="90">
        <button type="button"
          class="btn btn-success btn-sm"
          ng-disabled="sweepstakesForm.$invalid"
          ng-click="sweepstakes.add(name, quantity, filter);
            name = quantity = filter = null">
          <i class="glyphicon glyphicon-ok"></i>
        </button>
        <button type="button"
          class="btn btn-danger btn-sm"
          disabled>
          <i class="glyphicon glyphicon-remove"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<script type="text/ng-template" id="resultFilter.html">
  <div class="modal-header">
    <button type="button"
      class="close"
      ng-click="$close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title expression">{{filter}}</h3>
  </div>
  <div class="modal-body">
    <table class="table table-condensed table-striped table-hover no-margin">
      <thead>
        <tr>
          <th width="20">
            #
          </th>
          <th ng-repeat="column in head track by $index">
            {{::column}}
          </th>
        </tr>
      </thead>
      <tbody ng-init="limit = 8">
        <tr ng-repeat="rows in body | limitTo:limit">
          <td>
            <strong>{{::$index+1}}</strong>
          </td>
          <td ng-repeat="cell in rows.data track by $index">
            {{::cell}}
          </td>
        </tr>
        <tr ng-if="body.length > limit">
          <td colspan="{{head.length+1}}">
          ...
          </td>
        </tr>
        <tr ng-if="body.length > limit">
          <td>
            <strong>{{body.length}}</strong>
          </td>
          <td ng-repeat="cell in body[body.length-1].data track by $index">
            {{::cell}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</script>

<script type="text/ng-template" id="helpFilter.html">
  <div class="modal-header">
    <button type="button"
      class="close"
      ng-click="$close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title">Filtros JavaScript</h3>
  </div>
  <div class="modal-body">
    <p class="lead">São trechos de código também conhecidos como expressões, que quando executados devem retornar um valor considerado verdadeiro.</p>

    <legend>Quais atributos estão disponíveis?</legend>
    <p>Todos os atributos do candidato
    <kbd ng-repeat="attr in ::attrs track by $index" ng-show="attr">{{attr}}</kbd>
    podem ser utilizados como variáveis para verificar a validade de um registro mediante o filtro aplicado.<p>

    <legend>Quais operadores estão disponíveis?</legend>
    <p>É possível utilizar operadores matemáticos, condicionais e métodos nativos do prototype do tipo de dado. Tenha em mente que o resultado da execução da expressão deve retornar um valor considerado verdadeiro para que o registro seja filtrado.</p>

    <legend>Exemplos:</legend>

    <p>
      {{attrs[0]}} deve ser verdadeiro<br>
      <input type="text"
        class="form-control expression"
        value="!!{{attrs[0]}}"
        readonly>
    </p>

    <p>
      {{attrs[1] || attrs[0]}} deve conter o termo "primeiro lote"<br>
      <input type="text"
        class="form-control expression"
        value="{{attrs[1] || attrs[0]}}.indexOf('primeiro lote') > -1"
        readonly>
    </p>

    <p>
      {{attrs[2] || attrs[1] || attrs[0]}} deve estar preenchido e {{attrs[0]}} deve ser maior que 10 ou {{attrs[1] || attrs[0]}} deve ser igual a Azul<br>
      <input type="text"
        class="form-control expression"
        value="({{attrs[2] || attrs[1] || attrs[0]}} != '' && {{attrs[0]}} > 10) || {{attrs[1] || attrs[0]}} == 'Azul'"
        readonly>
    </p>

  </div>
</script>
