<form>
  <table class="table table-striped table-hover"
    ng-if="sweepstakes.winners.length > 0">
    <thead>
      <tr>
        <th>
          #
        </th>
        <th ng-repeat="collum in sweepstakes.head">
          {{::collum}}
        </th>
        <th>
          Sorteio
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="row in sweepstakes.winners | orderBy:'control.winAt'">
        <td>
          {{::$index+1}}º
        </td>
        <td ng-repeat="cell in row.data">
          {{::cell}}
        </td>
        <td>
          {{::row.control.winAt | date:'short'}}
        </td>
      </tr>
    </tbody>
  </table>

  <div class="form-group">
    <label for="filter">
      Expressão para filtro
    </label>

    <div class="input-group">
      <input type="text"
        ng-model="sweepstakes.filter"
        ng-change="sweepstakes.saveFilter(sweepstakes.filter)"
        class="form-control expression"
        id="filter"
        placeholder="Escreva uma condição para realizar filtros nos candidatos do sorteio">
      <span class="input-group-btn">
        <button type="button"
          ng-click="sweepstakes.filter = null; sweepstakes.saveFilter(sweepstakes.filter)"
          class="btn btn-default">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </span>
    </div>

    <p class="help-block">
      Utilize valores disponíveis no candidato como:
      <strong>{{sweepstakes.head.join(', ')}}</strong>
    </p>

  </div>

  <div class="form-group">
    <button type="button"
      class="btn btn-lg btn-primary"
      ng-click="sweepstakes.run()"
      ng-disabled="sweepstakes.list.length == 0 || sweepstakes.winners.length == sweepstakes.list.length">
      Sortear
    </button>
  </div>
</form>
